@model HospitalManagementProject.ViewModels.AuthViewModel.EditView

<h2>Edit User</h2>

<div class="card">
  <div class="card-body">
    @using (Html.BeginForm("Edit", "Auth", FormMethod.Post))
    {
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
      @Html.LabelFor(m => m.Email)
      @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email" })
      @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.Password)
      @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.Phone)
      @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @type = "tel" })
      @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    }
  </div>
</div>
