@model System.Collections.Generic.IEnumerable<HospitalManagementProject.DTO.DoctorsDto.DoctorDto>

@{
    ViewBag.Title = "Doctor List";

}
<div class="main">
    <h2>Doctors List</h2>
    <div>
        <dl class="dl-horizontal">
            <dd>
                <table class="table">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Speciality</th>
                        <th>Phone Number</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.Firstname
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.Speciality
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            <a asp-controller="Doctor" asp-action="Edit"
                               asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="Doctor" asp-action="Detail"
                               asp-route-id="@item.Id">View</a>
                        </td>
                    </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div>
        <a asp-controller="Doctor" asp-action="Create">
            Create New Doctor</a>
    </div>
</div>
