@model HospitalManagementProject.DTO.InventoryDto.EditInventoryDto
@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Inventory Item</h2>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.ItemName)
            @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Quantity)
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ExpiryDate)
            @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control", @type = "date" })
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>
