@model HospitalManagementProject.DTO.AppointmentsDto.AppointmentDto
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

<h2>Appointment Details</h2>

<div class="card">
    <div class="card-header">
        @Model.Title
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Notes</dt>
            <dd class="col-sm-9">@Model.Notes</dd>

            <dt class="col-sm-3">Appointment Time</dt>
            <dd class="col-sm-9">@Model.AppointmentTime.ToString("g")</dd>

            <dt class="col-sm-3">Patient</dt>
            <dd class="col-sm-9">@Model.Patient.FirstName @Model.Patient.LastName</dd>

            <dt class="col-sm-3">Doctor</dt>
            <dd class="col-sm-9">@Model.Doctor.FirstName @Model.Doctor.LastName</dd>
        </dl>
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Edit</a>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
    </div>
</div>
