@model HospitalManagementProject.DTO.AppointmentsDto.EditAppointmentDto
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

<h2>Edit Appointment</h2>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Notes)
            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AppointmentTime)
            @Html.TextBoxFor(m => m.AppointmentTime, new { @class = "form-control", @type = "datetime-local" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PatientId)
            @Html.DropDownListFor(m => m.PatientId, new SelectList(ViewBag.Patients, "Id", "FullName"), "Select Patient", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DoctorId)
            @Html.DropDownListFor(m => m.DoctorId, new SelectList(ViewBag.Doctors, "Id", "FullName"), "Select Doctor", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>
