@model HospitalManagementProject.DTO.PrescriptionDto.CreatePrescriptionDto

<h2>Create Prescription</h2>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Symptoms)
                @Html.TextAreaFor(m => m.Symptoms, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Diagnosis)
                @Html.TextAreaFor(m => m.Diagnosis, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Medications)
                @Html.TextAreaFor(m => m.Medications, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Treatment)
                @Html.TextAreaFor(m => m.Treatment, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Patient)
                @Html.DropDownList("PatientId" ,new SelectList(ViewBag.Patients, "PatientId","FullName"), "Select Patient", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Doctor)
                @Html.DropDownList("DoctorId", new SelectList(ViewBag.Doctors, "DoctorId", "FullName"), "Select Doctor", new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Create Prescription</button>
        }
    </div>
</div>