@model HospitalManagementProject.DTO.PrescriptionDto.PrescriptionDto
@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Prescription Details</h2>

<div class="card">
    <div class="card-header">
        Prescription for @Model.Patient.FirstName @Model.Patient.LastName
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Symptoms</dt>
            <dd class="col-sm-9">@Model.Symptoms</dd>

            <dt class="col-sm-3">Diagnosis</dt>
            <dd class="col-sm-9">@Model.Diagnosis</dd>

            <dt class="col-sm-3">Medications</dt>
            <dd class="col-sm-9">@Model.Medications</dd>

            <dt class="col-sm-3">Treatment</dt>
            <dd class="col-sm-9">@Model.Treatment</dd>

            <dt class="col-sm-3">Doctor</dt>
            <dd class="col-sm-9">@Model.Doctor.FirstName @Model.Doctor.LastName</dd>

            <dt class="col-sm-3">Date Issued</dt>
            <dd class="col-sm-9">@Model.DateIssued.ToString("d")</dd>
        </dl>
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Edit</a>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
    </div>
</div>
