@model HospitalManagementProject.DTO.PrescriptionDto.EditPrescriptionDto

<h2>Edit Prescription</h2>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Symptoms)
            @Html.TextAreaFor(m => m.Symptoms, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Diagnosis)
            @Html.TextAreaFor(m => m.Diagnosis, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Medications)
            @Html.TextAreaFor(m => m.Medications, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Treatment)
            @Html.TextAreaFor(m => m.Treatment, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Doctor)
            @Html.DropDownListFor(m => m.Doctor, new SelectList(ViewBag.Doctors, "Id", "FullName"), "Select Doctor", new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Patient)
            @Html.DropDownListFor(m => m.Patient, new SelectList(ViewBag.Patients, "Id", "FullName"), "Select Patient", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        }
    </div>
</div>
